# Django
DEBUG=True
# Replace this secret in production. Keep it private and do not commit real secrets.
SECRET_KEY=V2s9rX$y7qZ8mN4pLk@tR1uF6hG0bC3vQw5eJs#Pz
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
POSTGRES_DB=eldersapp
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
DATABASE_HOST=localhost
DATABASE_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0

# JWT
SIMPLE_JWT_ACCESS_TOKEN_LIFETIME_MINUTES=60

# CORS
FRONTEND_URL=http://localhost:3000

# Superuser
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=adminpass
