djangorestframework>=3.14
Django>=4.2
psycopg2-binary>=2.9
django-celery-beat>=2.3
celery>=5.3
redis>=4.5
djangorestframework-simplejwt>=5.2
drf-spectacular>=0.25
django-filter>=23.1
django-cors-headers>=4.0
python-dotenv>=1.0
django-storages[boto3]>=1.14
pytest-django>=4.5
pytest>=7.0
gunicorn>=20.1
